{% extends "flights/layout.html" %}


{% block content %}

<h1>Flight {{flight.id}}</h1>

<ul>
    <li>From: {{flight.origin}}</li>
    <li>To:{{flight.destination}}</li>
    <li>Duration: {{flight.duration}}</li>
</ul>

<h3>Passangers: </h3>

    {% for passanger in passangers %}
        <ul>
            <li>{{passanger.first}} {{passanger.last}}</li>
        </ul>
        {%empty%}
        <li>None</li>
    {% endfor %}
    {% comment %} <li>{{passanger.first}} {{passanger.last}}</li> {% endcomment %}




{% endblock %}