{% extends "blog/layout.html" %}

{% block content %}
 {% if messages %}
        <ul>
            {% for message in messages %}
                <li style="color:red;">{{ message }}</li>
            {% endfor %}
        </ul>
 {% endif %}
<form method="post">
    {% csrf_token %}
    {% comment %} <textarea name="title" cols="20" rows="2" placeholder="Enter Title..."></textarea>
        <br>
    <textarea name="content" cols="50" rows="7" placeholder="Enter content..."></textarea>
    <br> {% endcomment %}
    {{form.as_p}}
    <button type="submit">
        Submit
    </button>
</form>


{% endblock %}