{% extends "blog/layout.html" %}


{% block content %}

<a href="{% url "create_post" %}">
    <button>
        Create
    </button>
</a>


<br>

{% if vals %}
<p>Total posts: {{total_posts}}</p>
 {% for v in vals %}
    <h3>{{v.title}}</h3>
    <p>{{v.content}}</p>
    <a href="{% url "delete_post" v.id %}">

        <button>Delete</button>
    </a>
       <a href="{% url "edit" v.id %}">

        <button>Edit</button>
    </a>
 {% endfor %}
    
{% else %}
    <h3>No-blog posted yet</h3>

{% endif %}

{% endblock %}