{% extends 'td/layout.html' %}




{% block content %}
<form method="post">
    {% csrf_token %}
    <textarea name="tasks"  rows="6" cols="40" placeholder="Enter Tasks"></textarea>
    <br>
    <button type="submit">Add</button>
</form>

    {% if dat %}
        {% for d in dat %}
            <h3>{{d}}</h3>
            <a href="{% url "delete_tasks" d.id %}">
            <button type="submit">
                Delete
            </button>
            </a>
            <a href="{% url "update" d.id %}">
                <button type="submit">
                    Edit
                </button>
            </a>
            <hr>
        {% endfor %}
    {% else %}
        <h3>No lists</h3> 
    {% endif %}

{% endblock %}