{% extends "layout.html" %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}
    Task_list Page
    {% endblock %}
</head>
<body>
    
    {% block content %}
    
    <h1 class='text-center text-2xl'>TaskList Page</h1>

    <form action="" method='post'>
        <div class='flex'>
            <div>
                <input class='text-black w-[20vw] h-9' type="text" placeholder="Enter task"></input>
            </div>

            <div class='gap-4'>
                <button>
                    ❌
                </button>
                <button>
                    ✅
                </button>
            </div>
            
        </div>
        <div>
            <button class='bg-blue-500 text-white w-[20vw] h-9' type="submit">Add Task</button>
        </div>
    </form>

    {% endblock %}

</body>
</html>