{% extends "base.html" %}

{% block title %}
Todo_lists
{% endblock %}


{% block content %}

<h1>Todo Lists</h1>

<form action="" method="post">
    {% csrf_token %}
    <input type="text" name="title" placeholder="Title" required>
    <input type="submit" value="Add">

    
</form>


{% for todos in items %}
    {{ todos.title }}:
    <form action="{%url 'deletetodo' todos.id %}" method='post'>
        {% csrf_token %}
       <input type="submit" value="Delete">
    </form>
    
    {% if todos.completed %}
        <p>Completed</p>
    {% else %}
        <p>Not Completed</p>
    {% endif %}
{% endfor %}


{% endblock %}