{% extends "layout.html" %}

{% block title %}


Tweet list

{% endblock %}
{% block content %}
    <a class="btn btn-secondary mt-4 mb-5 " href="{% url 'tweet_create' %}">Create tweet</a>
    
    <div class="container row gap-4">
    {% for tweet in tweet %}
    
    
        <div class="card" style="width: 18rem;">
            <img src="{{tweet.photo.url}}" class="card-img-top" alt="...">
            <div class="card-body">
            <h5 class="card-title">{{tweet.user.username}}</h5>
            <p class="card-text">{{tweet.text}}</p>

            {% if tweet.user == user  %}
            <a href="{% url 'tweet_edit' tweet.id %}" class="btn btn-primary">Edit Tweet</a>
            <a href="{% url 'tweet_delete' tweet.id %}" class="btn btn-danger">Delete Tweet</a>
            {% endif %}
            </div>
        </div>
    
    
    {% endfor %}
</div>

{% endblock %}